body{margin:0;padding:0;background:#ffe;font-size:.26rem;font-family:'微软雅黑','宋体',sans-serif;color:#231F20;overflow:auto}
a {color:#000;font-size:.26rem;}
/*#main{width:100%;}
#text{width:5rem;height:10rem;left:.3rem;top:.4rem;position:absolute;}*/
#wrap{position:relative;margin:0 auto;width:1100px;height:680px;margin-top:400px;}
#code{display:none;font-size:.23rem;color:#149E8A;/*color:#00A2E8;*/}
#clock-box {position:absolute;left:.5rem;top:760px;font-size:.34rem;display:none;}
#clock-box a {font-size:.34rem;text-decoration:none;}
#clock{margin-left:48px;}
#clock .digit {font-size:.54rem;}
#canvas{margin:0 auto;width:1100px;height:680px;}
#error{margin:0 auto;text-align:center;margin-top:60px;display:none;}
.hand{cursor:pointer;}
.say{margin-left:5px;}
.space{margin-right:150px;}
#main{margin:0 auto;width:1100px;height:680px;}
#text{width:4.5rem; height:5rem; left:.3rem; top:1rem; position:absolute;}
